@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>Digital Nursing Caring Homes (DNCH) provides a platform as a web application to the staff of nursing and care homes that will be able to record and store vulnerable individual’s information such as daily log notes, care plans, risk assessments, health & safety and medical records. Care homes will become more environment friendly and information will be recorded in a systematic and person-centred way which reflect exactly to the support required by the individuals who sign up for care in the residential, nursing and care homes.</p>
