@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Kingston University <br />
    Cooper House, 40-46 Surbiton Road, Kingston-Upon-Thames KT1 2HX<br />
    <abbr title="Phone">P:020 8417 9000</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="k1159610@kingston.ac.uk">K1159610@kingston.ac.uk</a><br />
    <strong>Source Code of DNCH:</strong> <a href=""></a>
</address>