@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>DNCH-Digital Nursing Caring Homes</h3>
    <p class="lead">DNCH is a digital platform to record information about the vulnerable people who are living in 
    Nursing and Care homes. DNCH has been designed for the Care providers to support residents with person-centred care. Please click the link below to learn more about person centred care.</p>
    <p><a href="https://www.cqc.org.uk/guidance-providers/regulations-enforcement/regulation-9-person-centred-care" class="btn btn-primary btn-lg">CQC &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Care Plan</h2>
        <p>
            Care proviers should have a person-centred care plans in place to suppport residents according to their wishes. Management and 
            the staff must be caring, listening to residents and responsive to the needs of the residents. 
     
        </p>
        <p><a class="btn btn-default" href="https://www.cqc.org.uk/guidance-providers/gps/nigels-surgery-75-personalised-care-support-planning">Care Plans &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Medication</h2>
        <p> Resident must be safe and secure in the care environment. Medication management in health & Social Care 
        important and mismanagement can cause serious harm to the residents.</p>
        <p><a class="btn btn-default" href="https://www.nice.org.uk/guidance/sc1"> Medication Management &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learning Disability Review</h2>
        <p>Care Qaulity Commission carry out inspection and review the learning disability organistion, recently CQC raised the concerns and recommend the 
        care provider should follow the standard.</p>
        <p><a class="btn btn-default" href="https://www.cqc.org.uk/publications/themed-inspection/review-learning-disability-services">Learn more &raquo;</a></p>
    </div>
</div>